extends adminLayout

block adminContent
	+pageTitle("Admin")


	+card
		table.table.table-striped
			tr
				th App Version
				td.text-monospace #{global.appVersion}

			tr
				th Sourcecode Version
				td.text-monospace #{global.sourcecodeVersion}
			
			tr
				th Sourcecode Date
				td.text-monospace #{global.sourcecodeDate}
			
			tr
				th App Startup
				td.text-monospace #{utils.formatDate(global.appStartDate)}

			tr
				th Node Version
				td.text-monospace #{global.nodeVersion}