extends adminLayout

block headBlock
	title Admin: Home

block adminContent
	+pageTitle("Admin")


	+contentSection("Summary")
		+summaryRow(5)
			+summaryItem("App Version")
				| #{global.appVersion}

			+summaryItem("Sourcecode Version")
				| #{global.sourcecodeVersion}

			+summaryItem("Sourcecode Date")
				| #{global.sourcecodeDate}

			+summaryItem("App Startup")
				| #{utils.formatDate(global.appStartDate)}

			+summaryItem("Node Version")
				| #{global.nodeVersion}
