extends adminLayout

block headBlock
	title Admin: Users

block adminContent
	+pageTitle("Users")


	+card
		include ../shared/pagination.pug

		table.table.table-striped
			thead
				tr
					th #
					th Username
					th Items
					th Roles
					th Created At
					th Last Login
			
			tbody
				each user, userIndex in users
					tr.text-monospace
						th.fw-light.text-muted #{(offset + userIndex + 1).toLocaleString()}
						
						td
							a(href=`/admin/user/${user._id}`) #{user.username}

						td
							| #{itemCountsByUserId[user._id].toLocaleString()}
						
						td #{user.roles ? user.roles : "-"}
						
						td #{utils.formatDate(user.createdAt)}
						
						td
							if (user.lastLogin)
								| #{utils.formatDate(user.lastLogin)}
							else
								| -


		