extends adminLayout

block headBlock
	title User: #{user.username}

block adminContent
	+pageTitle(`User: ${user.username}`)


	+contentSection("Summary")
		+summaryRow(4)
			+summaryItem("Roles")
				if (user.roles)
					each role in user.roles
						if (role == "admin")
							span.text-warning.fw-bold.me-2 #{role}
								i.bi-shield-lock-fill.ms-1
						else
							span.me-2 #{role}
				else
					| -


			+summaryItem("Created At")
				| #{utils.formatDate(user.createdAt)}


			+summaryItem("Updated At")
				| #{utils.formatDate(user.updatedAt)}


			+summaryItem("Item Count")
				| #{itemCount.toLocaleString()}



	+contentSection("Tools")
		if (!user.roles.includes("admin"))
			a.btn.btn-primary.me-3(href=`/admin/user/${user.username}/add-role/admin`) Promote to Admin

		a.btn.btn-danger(href=`/admin/user/${user.username}/delete`) Delete User
		

	+contentSection("Raw")
		pre #{JSON.stringify(user, null, 4)}