extends adminLayout

block adminContent
	h1 User: #{user.username}
	hr

	.card
		.card-body
			.mb-4
				table.table.table-striped
					tr
						th Username
						td.text-monospace #{user.username}

					tr
						th Roles
						td.text-monospace
							if (user.roles)
								| #{user.roles}
							else
								| -
					
					tr
						th Created At
						td.text-monospace #{utils.formatDate(user.createdAt)}
					
					tr
						th Updated At
						td.text-monospace #{utils.formatDate(user.updatedAt)}

					tr
						th Item(s)
						td.text-monospace #{itemCount.toLocaleString()}
			

			hr
			
			a.btn.btn-primary.me-3(href=`/admin/user/${user.username}/add-role/admin`) Promote to Admin
			a.btn.btn-danger(href=`/admin/user/${user.username}/delete`) Delete User
			