.row
	if (tagsData && false)
		.col-md-0.col-lg-2.d-none.d-lg-block
			each item in tagsData
				if (tags.includes(item._id))
					div.d-lg-block.d-inline
						a.btn.btn-success.btn-sm.mb-2(href=`/tags/${item._id}`)
							small
								i.bi-tag-fill.me-2
								| #{item._id} 
								span.badge.bg-light.text-dark.ms-1 #{item.count.toLocaleString()}


			- var maxVisibleTagCount = 50;
			- var hiddenTagCount = 0;
			each item, itemIndex in tagsData
				if (!tags.includes(item._id))
					if (itemIndex > maxVisibleTagCount)
						- hiddenTagCount++;
					.tag-item(class=(itemIndex > maxVisibleTagCount ? "d-none" : "d-lg-block d-inline"))
						a.btn.btn-primary.btn-sm.mb-2(href=`/tags/${item._id}`)
							small
								i.bi-tag-fill.me-2
								| #{item._id} 
								span.badge.bg-light.text-dark.ms-1 #{item.count.toLocaleString()}

						if (!tags.includes(item._id) && tags.length > 0)
							a.btn.btn-sm.btn-secondary.ms-1.mb-2(href=`/tags/${tags.slice().concat([item._id]).join(",")}`, title=`Add filter: ${item._id}`, data-bs-toggle="tooltip")
								small
									| + 

			if (hiddenTagCount > 0)
				a(href=`javascript:void(0)`, onclick=`$('.tag-item').removeClass('d-none'); $(this).hide(); return false;`) Show #{hiddenTagCount} hidden

	.col-md-12.col-lg-12
		.row.masonry
			each item, itemIndex in items
				.col-12(class=`col-lg-${12/parseInt(userSettings.listColCount || "3")}`)
					- var itemListPage = true;
					include ./item-card.pug


		if (itemCount > limit)
			.my-4
				hr.mb-4
				+pagination(limit, offset, sort, itemCount, paginationBaseUrl, "center")