mixin itemAdminMenu
	a.me-5(href=`/item/${item._id}/edit`, title="Edit this item", data-bs-toggle="tooltip")
		i.bi-pencil-square.text-primary
	a.me-5(href=`/item/${item._id}/raw`, title="View raw data", data-bs-toggle="tooltip")
		i.bi-info-circle.text-primary
	a(href=`/item/${item._id}/delete`, title="Delete this item...", data-bs-toggle="tooltip")
		i.bi-trash.text-danger

	if (false)
		span.dropdown
			button.btn.btn-light.border.shadow-sm.py-0.btn-sm.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
				i.bi-gear.fa-sm
			.dropdown-menu.dropdown-menu-end
				a.dropdown-item(href=`/item/${item._id}/edit`)
					i.bi-pencil-square.me-2
					| Edit this item
				a.dropdown-item(href=`/item/${item._id}/raw`, target="_blank")
					i.bi-info-circle.me-2
					| View raw data
				a.dropdown-item.text-danger(href=`/item/${item._id}/delete`)
					i.bi-trash.me-2
					| Delete this item

.card.shadow-sm.mb-3.mb-md-2
	.card-body
		if (item.dueDate)
			span.badge.bg-info.mb-2(title=`Due Date: ${utils.formatDate(item.dueDate, "MMM d, yyyy")}`, data-bs-toggle="tooltip")
				i.bi-clock
				span.ms-1 #{utils.formatDate(item.dueDate, "MMM d, yyyy")}

		if (item.hasImage)
			.text-center(class=(item.text ? "mb-2" : (!itemListPage ? "mb-3" : false)))
				a(href=`./item/${item._id}`)
					- var smallestImgSize = item.imageSizes[0];
					- var largestImgSize = item.imageSizes[item.imageSizes.length - 1];
					- var imageSize = (itemListPage ? smallestImgSize : largestImgSize);
					img.rounded-1.text-center(data-lazysrc=`./img/item/${item._id.toString()}/${imageSize}`, style="max-width: 100%;")

		.item-body
			if (item.text)
				.mb-2
					if (itemListPage)
						- var ellipsizeLength = 400;

						a.text-reset.text-decoration-none(href=`./item/${item._id}`)
							if (item.textType)
								if (item.textType == "plaintext")
									pre #{utils.ellipsize(item.text, ellipsizeLength)}

								else if (item.textType == "markdown")
									article.markdown-body !{marked.parse(utils.ellipsize(item.text, ellipsizeLength))}

								else
									span.text-danger Unknown textType: #{item.textType}

							else
								| #{utils.ellipsize(item.text, ellipsizeLength)}


					else
						if (item.textType)
							if (item.textType == "plaintext")
								pre #{item.text}

							else if (item.textType == "markdown")
								article.markdown-body !{marked.parse(item.text)}

							else
								span.text-danger Unknown textType: #{item.textType}
						else
							| #{item.text}


			else if (!item.hasImage)
				.mb-2
					a.text-reset.text-decoration-none.text-muted(href=`./item/${item._id}`) (no description)

			if (item.url)
				- var hostname = "unknown";
				- try { hostname = new URL(item.url).hostname; } catch (e) {}
				p
					a(href=item.url, target="_blank") #{hostname}
		
		if (item.tags || (item.createdAt && !itemListPage))
			hr.mx-n3

		if (item.tags)
			div(class=(item.createdAt && !itemListPage ? "mb-2" : false))
				each tag, tagIndex in item.tags
					if (tags)
						- var newTags = [];
						- tags.forEach(x => newTags.push(x));
						- if (!newTags.includes(tag)) { newTags.push(tag); }

						a.badge.bg-primary.me-1(href=`/tags/${newTags.join(",")}`)
							i.bi-tag-fill.me-1
							| #{tag}
					else
						a.badge.bg-primary.me-1(href=`/tags/${tag}`)
							i.bi-tag-fill.me-1
							| #{tag}

		if (item.createdAt && !itemListPage)
			div #{utils.formatDate(item.createdAt, "MMM d, yyyy")}

	if (session.user && item.userId == session.user._id)
		.card-footer
			.d-flex.d-lg-none.justify-content-between.fs-4
				+itemAdminMenu

			.d-none.d-lg-flex.justify-content-start.fs-6
				+itemAdminMenu
				
