mixin itemCard(item, options={})
	.card.shadow-sm.mb-3
		.card-body(class=(options.listPage ? false : "m-lg-4"))
			if (options.topTagsAndDate)
				.mt-lg-n3.mx-lg-n3
					+itemTagsAndDate(item, options)

				hr.mt-3.mb-5.mx-lg-n6.mx-n3

			+itemBody(item, options)

		if (!options.topTagsAndDate && session.user && item.userId == session.user._id)
			.card-footer(class=(item.pinned ? "bg-dark" : false))
				+itemAdminMenu(item, options)




mixin itemAdminMenu(item, options={})
	.d-none.d-lg-flex.justify-content-between.fs-5(class=("v" == options.orientation) ? "flex-column pb-3" : "flex-row", style="height: 100%;")
		+itemAdminMenuInternal(item, options)

	.d-flex.d-lg-none.justify-content-between.fs-4(class=("v" == options.orientation) ? "flex-column pb-3" : "flex-row", style="height: 100%;")
		+itemAdminMenuInternal(item, options)


mixin itemAdminMenuInternal(item, options={})
	+copyTextButton(`${baseUrl}share/${item._id}`, "Copy shareable link")
		i.bi-share.text-info

	a(href=`/item/${item._id}/edit`, title="Edit this item", data-bs-toggle="tooltip")
		i.bi-pencil-square.text-primary

	if (item.pinned)
		a(href=`/item/${item._id}/unpin`, title="Unpin this item", data-bs-toggle="tooltip")
			i.bi-pin-fill.text-success

	else
		a(href=`/item/${item._id}/pin`, title="Pin this item", data-bs-toggle="tooltip")
			i.bi-pin-angle-fill.text-primary

	if (item.locked)
		a(href=`/item/${item._id}/unlock`, title="Unlock this item", data-bs-toggle="tooltip")
			i.bi-lock-fill.text-success

	else
		a(href=`/item/${item._id}/lock`, title="Lock this item", data-bs-toggle="tooltip")
			i.bi-unlock-fill.text-primary

	if (!options.listPage)
		a(href=`/item/${item._id}/raw`, title="View raw data", data-bs-toggle="tooltip")
			i.bi-info-circle.text-primary

	if (!item.locked)
		a(href=`/item/${item._id}/delete`, title="Delete this item...", data-bs-toggle="tooltip")
			i.bi-trash.text-danger


mixin itemTagsAndDate(item, options={})
	.d-flex.justify-content-between(class=(!options.listPage ? "mb-3 mt-lg-n4" : false))
		div
			if (item.tags)
				each tag, tagIndex in item.tags
					if (tags)
						- var newTags = [];
						- tags.forEach(x => newTags.push(x));
						- if (!newTags.includes(tag)) { newTags.push(tag); }

						a.badge.bg-primary.me-1.non-underline-link(href=`/tags/${newTags.join(",")}`)
							i.bi-tag-fill.me-1
							| #{tag}
					else
						a.badge.bg-primary.me-1.non-underline-link(href=`/tags/${tag}`)
							i.bi-tag-fill.me-1
							| #{tag}

		if (item.createdAt && !options.listPage)
			.text-end #{utils.formatDate(item.createdAt, "MMM d, yyyy")}

mixin itemBody(item, options)
	if (item.dueDate)
		span.badge.bg-info.mb-2(title=`Due Date: ${utils.formatDate(item.dueDate, "MMM d, yyyy")}`, data-bs-toggle="tooltip")
			i.bi-clock
			span.ms-1 #{utils.formatDate(item.dueDate, "MMM d, yyyy")}

	if (item.hasImage)
		.text-center(class=(item.text ? "mb-2" : (!options.listPage ? "mb-3" : false)))
			a(href=`./item/${item._id}`)
				- var smallestImgSize = item.imageSizes[0];
				- var largestImgSize = item.imageSizes[item.imageSizes.length - 1];
				- var imageSize = (options.listPage ? smallestImgSize : largestImgSize);
				img.rounded-1.text-center(data-lazysrc=`./img/item${options.publicShare ? "-share" : ""}/${item._id.toString()}/${imageSize}`, style="max-width: 100%;")

	- var articleTagIncluded = (item.tags && ["article", "essay"].some(x => item.tags.includes(x)));
	.item-body(class=(options.listPage ? false : articleTagIncluded ? `article` : false))
		if (item.text)
			div
				if (options.listPage)
					- var ellipsizeLength = 400;

					a.text-reset.text-decoration-none(href=`./item/${item._id}`)
						if (item.textType)
							if (item.textType == "plaintext")
								pre #{utils.ellipsize(item.text, ellipsizeLength)}

							else if (item.textType == "markdown")
								article.markdown-body !{marked.parse(utils.ellipsize(item.text, ellipsizeLength))}

							else
								span.text-danger Unknown textType: #{item.textType}

						else
							| #{utils.ellipsize(item.text, ellipsizeLength)}


				else
					if (item.textType)
						if (item.textType == "plaintext")
							pre #{item.text}

						else if (item.textType == "markdown")
							article.markdown-body !{marked.parse(item.text)}

						else
							span.text-danger Unknown textType: #{item.textType}
					else
						| #{item.text}


		else if (!item.hasImage)
			div(class=(item.tags || (item.createdAt && !options.listPage) ? "mb-3" : false))
				a.text-reset.text-decoration-none.text-muted(href=`./item/${item._id}`) (no description)

		if (item.url)
			- var hostname = "unknown";
			- try { hostname = new URL(item.url).hostname; } catch (e) {}
			.mt-2
				a(href=item.url, target="_blank") #{hostname}
	
	if (!options.topTagsAndDate)
		.mt-2
			+itemTagsAndDate(item, options)