.card.shadow-sm.mb-3
	.card-body
		.link-body
			if (link.desc)
				p #{link.desc}

			p
				a(href=link.url, target="_blank") #{new URL(link.url).hostname}
		
		hr

		.clearfix
			.float-right
				if (link.createdAt)
					| #{utils.formatDate(link.createdAt, "MMM d, yyyy")}
				
				if (session.user && link.userId == session.user._id)
					span.text-right.ml-2(class=(link.createdAt ? "mt-2" : false))
						span.dropdown
							button.btn.btn-outline-secondary.py-0.btn-sm.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
								i.fas.fa-cog.fa-sm
							.dropdown-menu.dropdown-menu-right
								a.dropdown-item(href=`/link/${link._id}/edit`)
									i.far.fa-edit.mr-2
									| Edit this link
								a.dropdown-item(href=`/link/${link._id}/raw`, target="_blank")
									i.fas.fa-info-circle.mr-2
									| View raw data
								a.dropdown-item.text-danger(href=`/link/${link._id}/delete`)
									i.far.fa-trash-alt.mr-2
									| Delete this link
				
				else
					// no link-management dropdown
					
			
			.float-left(style="max-width: 60%;")
				if (link.tags)
					each tag, tagIndex in link.tags
						if (tags)
							- var newTags = [];
							- tags.forEach(x => newTags.push(x));
							- if (!newTags.includes(tag)) { newTags.push(tag); }

							a.badge.badge-primary.mr-1(href=`/tags/${newTags.join(",")}`)
								i.fas.fa-tag.mr-1
								| #{tag}
						else
							a.badge.badge-primary.mr-1(href=`/tags/${tag}`)
								i.fas.fa-tag.mr-1
								| #{tag}
				

		
		.clearfix
			.float-right
				
