.card.shadow-sm.mb-3
	.card-body
		.link-body
			p
				a(href=link.url, target="_blank") #{link.url}

			if (link.desc)
				p #{link.desc}
		
		hr

		.clearfix
			.float-right
				if (link.createdAt)
					i.far.fa-clock.mr-1
					| #{utils.formatDate(link.createdAt, "MMM d, yyyy")}
				
				if (session.user && link.userId == session.user._id)
					div.text-right(class=(link.createdAt ? "mt-2" : false))
						.dropdown
							button.btn.btn-outline-secondary.py-0.btn-sm.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
								i.fas.fa-cog
							.dropdown-menu.dropdown-menu-right
								a.dropdown-item(href=`/link/${link._id}/edit`)
									i.far.fa-edit.mr-2
									| Edit this link
								a.dropdown-item(href=`/link/${link._id}/raw`, target="_blank")
									i.fas.fa-info-circle.mr-2
									| View raw data
								a.dropdown-item.text-danger(href=`/link/${link._id}/delete`)
									i.far.fa-trash-alt.mr-2
									| Delete this link
				
				else
					// no link-management dropdown
					
			
			.float-left(style="max-width: 60%;")
				if (link.tags)
					each tag, tagIndex in link.tags
						if (noTagLinks)
							span.badge.badge-primary.mr-1
								i.fas.fa-tag.mr-1
								| #{tag}
						else
							a.badge.badge-primary.mr-1(href=`/tag/${tag}`)
								i.fas.fa-tag.mr-1
								| #{tag}

				.mt-2
					- var linkUsername = link.username;
					if (noUserLinks)
						span.badge.badge-info
							i.fas.fa-user-circle.mr-1
							| #{linkUsername}

					else
						a.badge.badge-info(href=`/${linkUsername}/links`)
							i.fas.fa-user-circle.mr-1
							| #{linkUsername}
				

		
		.clearfix
			.float-right
				
