mixin linkAdminDropdown
	span.dropdown
		button.btn.btn-light.border.shadow-sm.py-0.btn-sm.dropdown-toggle(type="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
			i.fas.fa-cog.fa-sm
		.dropdown-menu.dropdown-menu-right
			a.dropdown-item(href=`/link/${link._id}/edit`)
				i.far.fa-edit.me-2
				| Edit this link
			a.dropdown-item(href=`/link/${link._id}/raw`, target="_blank")
				i.fas.fa-info-circle.me-2
				| View raw data
			a.dropdown-item.text-danger(href=`/link/${link._id}/delete`)
				i.far.fa-trash-alt.me-2
				| Delete this link

.card.shadow-sm.mb-3
	.card-body
		.link-body
			.mb-2
				if (link.desc)
					a.text-reset.text-decoration-none(href=`./link/${link._id}`) #{link.desc}

				else
					a.text-reset.text-decoration-none(href=`./link/${link._id}`) ...

			p
				a(href=link.url, target="_blank") #{new URL(link.url).hostname}
		
		hr

		.clearfix
			.float-start
				if (link.tags)
					.mb-2
						each tag, tagIndex in link.tags
							if (tags)
								- var newTags = [];
								- tags.forEach(x => newTags.push(x));
								- if (!newTags.includes(tag)) { newTags.push(tag); }

								a.badge.bg-primary.me-1(href=`/tags/${newTags.join(",")}`)
									i.fas.fa-tag.me-1
									| #{tag}
							else
								a.badge.bg-primary.me-1(href=`/tag/${tag}`)
									i.fas.fa-tag.me-1
									| #{tag}

				if (link.createdAt)
					.d-block.d-md-none
						| #{utils.formatDate(link.createdAt, "MMM d, yyyy")}


			.float-end.d-md-none
				if (session.user && link.userId == session.user._id && !linkListPage)
					div.text-end(class=(link.date ? "mt-2" : false))
						+linkAdminDropdown
				
				else
					// no quote-management dropdown


			.float-md-end.d-none.d-md-block
				if (link.createdAt)
					| #{utils.formatDate(link.createdAt, "MMM d, yyyy")}

				.d-none.d-md-block.text-end.pt-2
					if (session.user && link.userId == session.user._id && !linkListPage)
						+linkAdminDropdown
				
