.bg-header-footer.mb-2.mb-lg-4
	.p-3.pb-2
		.d-flex.justify-content-between
			div
				a.mb-2.mb-lg-0.text-white.text-decoration-none(href="/")
					img.rounded(src="/img/icon/favicon-32x32.png" srcset="/img/icon/favicon-32x32.png 1x, /img/icon/apple-touch-icon.png 2x" alt="logo" style="width: 32px; height: 32px;")
					span.fs-4.align-middle.ms-2 #{global.appConfig.siteName}

			if (session.username)
				.d-flex.gap-3
					form.col-12.col-lg-auto.mb-lg-0(method="get", action="/search")
						.input-group
							input.form-control(type="search", name="query", placeholder="Search...", value=(query))
							button.btn.btn-primary(type="submit")
								i.bi-search


					if (session.user && session.user.roles && session.user.roles.includes("admin"))
						a.btn.btn-warning.px-2(href="/admin")
							i.bi-shield-lock.mx-1

					a.btn.btn-primary#navbarDropdown.text-white.nav-link.px-2.py-1.dropdown-toggle(href="javascript:void(0)", role="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
						i.bi-person-circle.me-2
						span.me-1 #{session.username}

					.dropdown-menu.dropdown-menu-end(aria-labelledby="navbarDropdown")
						span.dropdown-header.text-success.fw-bold
							span #{session.username}
							span.text-tiny.text-muted.fw-light.ms-2 (active)

						if (session.accounts)
							each account in session.accounts
								if (account.username != session.user.username)
									a.dropdown-item(href=`/account/verify-multilogin-pin/${account.username}`)
										| #{account.username}

						.dropdown-divider

						a.dropdown-item(href="/account/add-account")
							i.bi-person-plus.me-2
							| Login another account

						.dropdown-divider

						a.dropdown-item(href="/account")
							i.bi-person-circle.me-2
							| My Account

						.dropdown-divider

						a.dropdown-item(href=`./changeSetting?name=uiTheme&value=dark`)
							.d-flex.justify-content-between
								div
									i.bi-moon.me-2
									| Dark
								div
									if (userSettings.uiTheme == "dark")
										i.bi-check.fs-5

						a.dropdown-item(href=`./changeSetting?name=uiTheme&value=light`)
							.d-flex.justify-content-between
								div
									i.bi-sun.me-2
									| Light
								div
									if (userSettings.uiTheme == "light")
										i.bi-check.fs-5

						.dropdown-divider
						a.dropdown-item(href="/logout")
							i.bi-box-arrow-right.me-2
							| Logout

		.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start.pt-1
			ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-between.my-3.my-lg-0
				if (session.user)
					- var navItems = [["New Link", "Link", "/new-link", "bi-link-45deg"]];
					- navItems.push(["New Note", "Note", "/new-note", "bi-file-earmark-text"]);
					- navItems.push(["New Image", "Image", "/new-image", "bi-image"]);
					- navItems.push(["New File", "File", "/new-file", "bi-file-earmark-binary"]);

					each navItem, navItemIndex in navItems
						li
							a.nav-link.me-2.pb-lg-0.fw-light.py-0.py-lg-2(href=navItem[2], title=navItem[0], data-bs-toggle="tooltip", data-bs-placement="bottom", class=(navItemIndex == 0 ? "ps-0" : false))
								i.fs-5.text-white.align-middle(class=navItem[3])
								span.d-none.d-lg-inline.text-white.align-middle.ms-1 #{navItem[1]}

					

					li
						a.pb-lg-0.py-0.py-lg-2.text-white.nav-link.dropdown-toggle.fw-light#tagsDropdown(href="javascript:void(0)", role="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
							i.bi-tag-fill.text-white.fs-5.text-white.align-middle
							span.d-none.d-lg-inline.text-white.align-middle.ms-1 Tags

						.dropdown-menu.dropdown-menu-end(aria-labelledby="tagsDropdown")
							span.dropdown-header Tags

							a.dropdown-item(href="/tags")
								i.bi-list.me-2
								| View All

							.dropdown-divider

							span.dropdown-header Favorite Tags

							if (session.user.favoriteTags)
								each tag in session.user.favoriteTags
									a.dropdown-item(href=`/tags/${tag}`)
										i.bi-tag-fill.me-2
										| #{tag}

							else
								span.dropdown-item -


						if (false)
							a.nav-link.pb-lg-0(href="/tags", title="View All Tags", data-bs-toggle="tooltip", data-bs-placement="bottom")
								i.bi-tag-fill.fs-5.text-white.align-middle
								span.d-none.d-lg-inline.text-white.align-middle.ms-2 View Tags



	.p-0.bg-header-footer-highlight.border-bottom.d-none.d-lg-block
		.d-flex.flex-wrap.align-items-top.justify-content-center.justify-content-lg-start.py-1.ps-2
			ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-between.my-3.my-lg-0
				if (pinnedItemCount > 0)
					li
						a.nav-link.py-1.px-2.pe-3.text-white.fw-light(href=`/pinned`)
							i.bi-pin-fill.me-1
							| Pinned
							span.small.ms-tiny (#{pinnedItemCount.toLocaleString()})

				if (session.user && session.user.favoriteTags)
					each tag in session.user.favoriteTags
						li.d-none.d-lg-block
							a.nav-link.py-1.px-2.pe-3.text-white.fw-light(href=`/tags/${tag}`)
								i.bi-tag-fill.me-1
								| #{tag}
								if (favoriteTagCounts && favoriteTagCounts[tag])
									span.small.ms-tiny (#{favoriteTagCounts[tag].toLocaleString()})
			
