.bg-header-footer.mb-4
	.p-3.pb-2
		.d-flex.justify-content-between
			div
				a.mb-2.mb-lg-0.text-white.text-decoration-none(href="/")
					img.rounded(src="/img/icon/favicon-32x32.png" srcset="/img/icon/favicon-32x32.png 1x, /img/icon/apple-touch-icon.png 2x" alt="logo" style="width: 32px; height: 32px;")
					span.fs-4.align-middle.ms-2 #{global.appConfig.siteName}

			if (session.username)
				div
					a.btn.btn-primary.btn-sm#navbarDropdown.text-white.nav-link.px-2.py-1.dropdown-toggle(href="javascript:void(0)", role="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
						i.bi-person-circle.me-2

					.dropdown-menu.dropdown-menu-end(aria-labelledby="navbarDropdown")
						span.dropdown-header #{session.username}

						.dropdown-divider

						a.dropdown-item(href="/account")
							i.bi-person-circle.me-2
							| My Account

						a.dropdown-item(href="/settings")
							i.bi-gear.me-2
							| Settings

						if (session.user && session.user.roles && session.user.roles.includes("admin"))
							a.dropdown-item(href="/admin")
								i.bi-shield-lock.me-2
								| Admin

						.dropdown-divider

						a.dropdown-item(href=`./changeSetting?name=uiTheme&value=dark`)
							.d-flex.justify-content-between
								div
									i.bi-moon.me-2
									| Dark
								div
									if (userSettings.uiTheme == "dark")
										i.bi-check.fs-5

						a.dropdown-item(href=`./changeSetting?name=uiTheme&value=light`)
							.d-flex.justify-content-between
								div
									i.bi-sun.me-2
									| Light
								div
									if (userSettings.uiTheme == "light")
										i.bi-check.fs-5

						.dropdown-divider
						a.dropdown-item(href="/logout")
							i.bi-box-arrow-right.me-2
							| Logout

		.d-flex.flex-wrap.align-items-center.justify-content-center.justify-content-lg-start.pt-1
			ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-between.my-3.my-lg-0
				if (session.user)
					li
						a.nav-link.me-2.ps-0.pb-lg-0.fw-light(href="/new-link", title="New Link", data-bs-toggle="tooltip", data-bs-placement="bottom")
							i.bi-link-45deg.fs-5.text-white.align-middle
							span.d-none.d-lg-inline.text-white.align-middle.ms-1 Link
					li
						a.nav-link.me-2.pb-lg-0.fw-light(href="/new-note", title="New Note", data-bs-toggle="tooltip", data-bs-placement="bottom")
							i.bi-file-earmark-text.fs-5.text-white.align-middle
							span.d-none.d-lg-inline.text-white.align-middle.ms-1 Note
					li
						a.nav-link.me-2.pb-lg-0.fw-light(href="/new-image", title="New Image", data-bs-toggle="tooltip", data-bs-placement="bottom")
							i.bi-image.text-white.fs-5.text-white.align-middle
							span.d-none.d-lg-inline.text-white.align-middle.ms-1 Image

					li
						a.nav-link.me-2.pb-lg-0.fw-light(href="/new-file", title="New Image", data-bs-toggle="tooltip", data-bs-placement="bottom")
							i.bi-file-earmark-binary.text-white.fs-5.text-white.align-middle
							span.d-none.d-lg-inline.text-white.align-middle.ms-1 File

					li
						a.pb-lg-0.text-white.nav-link.dropdown-toggle.fw-light#tagsDropdown(href="javascript:void(0)", role="button", data-bs-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
							i.bi-tag-fill.text-white.fs-5.text-white.align-middle
							span.d-none.d-lg-inline.text-white.align-middle.ms-1 Tags

						.dropdown-menu.dropdown-menu-end(aria-labelledby="tagsDropdown")
							span.dropdown-header Tags

							a.dropdown-item(href="/tags")
								i.bi-list.me-2
								| View All

							.dropdown-divider

							span.dropdown-header Favorite Tags

							if (session.user.favoriteTags)
								each tag in session.user.favoriteTags
									a.dropdown-item(href=`/tags/${tag}`)
										i.bi-tag-fill.me-2
										| #{tag}

							else
								span.dropdown-item -


						if (false)
							a.nav-link.pb-lg-0(href="/tags", title="View All Tags", data-bs-toggle="tooltip", data-bs-placement="bottom")
								i.bi-tag-fill.fs-5.text-white.align-middle
								span.d-none.d-lg-inline.text-white.align-middle.ms-2 View Tags

			if (session.username)
				form.col-12.col-lg-auto.mb-lg-0(method="get", action="/search")
					.input-group
						input.form-control(type="search", name="query", placeholder="Search...", value=(query))
						button.btn.btn-light(type="submit")
							i.bi-search

	.p-0.bg-header-footer-highlight.border-bottom
		.d-flex.flex-wrap.align-items-top.justify-content-center.justify-content-lg-start.py-1.ps-2
			ul.nav.col-12.col-lg-auto.me-lg-auto.mb-2.justify-content-between.my-3.my-lg-0
				if (pinnedItemCount > 0)
					li
						a.nav-link.py-1.px-2.pe-3.text-white.fw-light(href=`/pinned`)
							i.bi-pin-fill.me-1
							| Pinned
							span.small.ms-tiny (#{pinnedItemCount.toLocaleString()})

				if (session.user && session.user.favoriteTags)
					each tag in session.user.favoriteTags
						li
							a.nav-link.py-1.px-2.pe-3.text-white.fw-light(href=`/tags/${tag}`)
								i.bi-tag-fill.me-1
								| #{tag}
								if (favoriteTagCounts && favoriteTagCounts[tag])
									span.small.ms-tiny (#{favoriteTagCounts[tag].toLocaleString()})
				
