extends ../layout

block headBlock
	title My Account

block content
	+pageTitle("My Account")


	+contentSection("Tools")
		- var buttons = [["/export", "Export All", "bi-download", "Export all of your links"]];

		.d-none.d-md-block
			each item in buttons
				a.btn.btn-primary.me-2(href=item[0], title=item[3], data-bs-toggle="tooltip", target="_blank")
					i.me-2(class=item[2])
					| #{item[1]}

			
		.d-md-none
			each item in buttons
				.d-grid
					a.btn.btn-primary(href=item[0], title=item[3], data-bs-toggle="tooltip", target="_blank")
						i.me-2(class=item[2])
						| #{item[1]}
	
	+contentSection("Settings")
		span Multi-login PIN: 
		if (user.multiloginPinHash)
			span.text-success Set
			i.bi-check2.text-success.ms-1

			span.ms-2 (
				a(href=`/account/set-multilogin-pin`) Change PIN
				span )
		else
			span.text-warning.me-2 Unset
			span (
				a(href=`/account/set-multilogin-pin`) Set PIN
				span )


		.mt-3.text-muted It may be useful to use multiple accounts to organize different sets of links. A <i>Multi-Login PIN</i> facilitates easier switching among multiple accounts. Once a PIN is configured, you can have multiple accounts logged in simultaneously, and just use your shorter PIN to switch, instead of your full password.


	if (user.roles && user.roles.includes("admin"))
		+contentSection("Admin Extensions")
			+adminModalAndButton("Session Data")
				pre
					code.json #{JSON.stringify(session, null, 4)}

			
							