extends layout

block headBlock
	title Links: My Account

block content
	h1 My Account
	hr

	.card.mb-2
		.card-body
			h5.mb-0 Tools
			hr

			- var buttons = [["/export", "Export All", "fas fa-download", "Export all of your links"]];

			.d-none.d-md-block
				each item in buttons
					a.btn.btn-primary.me-2(href=item[0], title=item[3], data-bs-toggle="tooltip", target="_blank")
						i.me-2(class=item[2])
						| #{item[1]}

				
			.d-md-none
				each item in buttons
					.d-grid
						a.btn.btn-primary(href=item[0], title=item[3], data-bs-toggle="tooltip", target="_blank")
							i.me-2(class=item[2])
							| #{item[1]}
						