extends layout

block headBlock
	title Edit Image

block content
	h1 Edit Image
	hr

	if (item.hasImage)
		.rounded.p-3.border.mb-4.d-inline-block
			img.rounded-1(src=`./img/item/${item._id.toString()}/w${appConfig.images.mainWidth}`)

	form(method="post", action=`/item/${item._id}/edit`, enctype="multipart/form-data")
		fieldset.mb-3
			.row
				.col-md-5
					label(for="img") Image File
						span.text-muted.ms-2 (optional)
					input#img.form-control(name="img", type="file", placeholder="Image File")

				.col-md-1.pt-4.text-center
					span - OR -

				.col-md-6
					label(for="imgUrl") Image URL
					input#imgUrl.form-control(name="imgUrl", placeholder="Image URL")
		
		.row
			.col-md-6
				fieldset.mb-3
					label(for="tags") Tags
					input#tags.form-control(name="tags", placeholder="Tags", value=(item.tags ? item.tags.join(",") : ""))

			.col-md-6
				fieldset.mb-3
					label(for="url") URL
					input#url.form-control(name="url", placeholder="URL" value=item.url)

		fieldset.mb-3
			label(for="text") Text / Description
			input#text.form-control(name="text", placeholder="Text / Description", value=item.text)


		fieldset.mb-3
			.row
				.col-md-4
					label(for="dueDate") Due Date
					input#imgUrl.form-control(name="dueDate", placeholder="Due date", value=item.dueDate)

				.col-md-4
					label(for="startDate") Start Date
					input#imgUrl.form-control(name="startDate", placeholder="Start date", value=item.startDate)

				.col-md-4
					label(for="endDate") End Date
					input#imgUrl.form-control(name="endDate", placeholder="End date", value=item.endDate)



		.d-grid
			button.btn.btn-primary(type="submit") Save