extends layout

block content
	h1 My Import 
		span.badge.badge-primary #{importId}

	.card.mb-3
		.card-body
			h3 Tools

			if (deleteConfirm)
				.alert.alert-warning
					.alert-body
						| Are you sure you want to delete this entire import? This cannot be undone.
				form.d-inline-block(method="post", action=`/import/${importId}/delete`)
					button.btn.btn-danger.mr-2(type="submit")
						i.fas.fa-exclamation-triangle.mr-2
						| Confirm: Delete all
					
					a.btn.btn-success(href=`/import/${importId}`)
						i.fas.fa-arrow-left.mr-2
						| Cancel: Don't delete
			else
				a.btn.btn-danger(href=`/import/${importId}/delete`)
					i.fas.fa-trash.mr-2
					| Delete all
			
				span.ml-2
					a.btn.btn-primary(href=`/import/${importId}/export`, target="_blank")
						i.fas.fa-file-download.mr-2
						| Export
	
	.card.mb-3
		.card-body
			h3 Speakers
			each speaker in uniqueSpeakers
				span.badge.badge-secondary.mr-2 #{speaker}

	h3 Quotes

	.card-columns
		each quote, quoteIndex in quotes
			include shared/quote-card.pug