extends layout

block content
	if (session.username)
		h1 Home
		hr

		.card.mb-2
			.card-body
				- var buttons = [[`/${session.username}/quotes`, "My Quotes", "fas fa-stream", quoteCount], ["/tags", "My Tags", "fas fa-tag", tagCount], ["/speakers", "People", "fas fa-user-friends", speakerCount]];

				.d-none.d-md-block
					each item in buttons
						a.btn.btn-primary.mr-2(href=item[0])
							i.mr-2(class=item[2])
							| #{item[1]}
							if (item.length > 3)
								span.badge.badge-light.ml-2 #{item[3].toLocaleString()}

					
				.d-md-none
					each item in buttons
						a.btn.btn-primary.btn-block(href=item[0])
							i.mr-2(class=item[2])
							| #{item[1]}
							if (item.length > 3)
								span.badge.badge-light.ml-2 #{item[3].toLocaleString()}
		
		.card.mb-2
			.card-body
				h5 My Lists
				hr
				
				h5
					ul
						each list in lists
							li.mb-2
								a(href=`/list/${list._id}`) #{list.name}
		
		.card.mb-2
			.card-body
				h5 Tools
				hr

				- var buttons = [["/new-quote", "New Quote", "fas fa-plus-circle", "Add a new quote"], ["/new-list", "New List", "fas fa-list", "Create a new shareable list"], ["/import", "Import Quotes", "fas fa-file-upload", "Upload a list of new quotes"]];

				.d-none.d-md-block
					each item in buttons
						a.btn.btn-primary.mr-2(href=item[0], title=item[3], data-toggle="tooltip")
							i.mr-2(class=item[2])
							| #{item[1]}

					
				.d-md-none
					each item in buttons
						a.btn.btn-primary.btn-block(href=item[0], title=item[3], data-toggle="tooltip")
							i.mr-2(class=item[2])
							| #{item[1]}
				

	else
		h1 #{appConfig.siteName}
		hr

		h5 Welcome to #{appConfig.siteName}. If you have an account, login below. If not, you can 
			a(href="/signup") Sign up
			| .

		.row.mt-5
			.col-md-3.col-lg-3
			.col-md-6.col-lg-6
				include ./shared/login-form.pug