extends layout

block content
	h1 My #{speakersData.length.toLocaleString()} Speaker
		| #{speakersData.length != 1 ? "s" : ""}
	
	hr

	if (speakersData)
		each item in speakersData
			a.btn.btn-primary.mr-2.mb-2(href=`/speaker/${item._id}`)
				i.fas.fa-user-alt.mr-2
				| #{item._id} 
				span.badge.badge-light #{item.count.toLocaleString()}

		if (false)
			pre
				code #{JSON.stringify(speakersData, null, 4)}
	
	else
		| No speakers