extends layout

block headBlock
	title Tagged #{tags.join(", ")}

block content
	+itemListPageHeader(itemCount, limit, offset, sort, paginationBaseUrl)
		+pageTitle(`${itemCount.toLocaleString()} Item${itemCount != 1 ? "s" : ""} for`)
		

			each tag in tags
				span.badge.text-bg-primary.me-1
					i.bi-tag-fill.me-2
					| #{tag}

				if (tags.length == 1)
					if (user.favoriteTags && user.favoriteTags.includes(tag))
						a.ms-2(href=`/favorite-tags/remove/${tag}`, title="Remove Tag from Favorites", data-bs-toggle="tooltip")
							i.small.bi-bookmark-check-fill.text-success

					else
						a.ms-2(href=`/favorite-tags/add/${tag}`, title="Add Tag to Favorites", data-bs-toggle="tooltip")
							i.small.bi-bookmark-plus.text-primary


	
	include ./shared/item-list.pug