extends layout

block content
	h1 My #{tagsData.length.toLocaleString()} Tag
		| #{tagsData.length != 1 ? "s" : ""}
	
	hr

	if (tagsData)
		each item in tagsData
			a.btn.btn-primary.me-2.mb-2(href=`/tags/${item._id}`)
				i.bi-tag.me-2
				| #{item._id} 
				span.badge.bg-light.text-dark.ms-2 #{item.count.toLocaleString()}

		if (false)
			pre
				code #{JSON.stringify(tagsData, null, 4)}
	
	else
		| No tags